* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    margin: 1px 15px 1px 17px;
    display: flex;
    align-items: end;
    text-transform: capitalize;
    padding: 13px;
}

.title h1 {
    margin-right: 13px;
}

.title h4 {
    display: inline;
}

.title span {
    display: inline;
}


/**/

.container {
    padding: 29px 235px;
}

.part1 {
    display: flex;
}

.part1>div {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.sale-name {
    padding: 6px;
    border: 1px solid black;
}

.close-btn {
    font-size: 17px;
    background-color: black;
    color: white;
}

.clear {
    background-color: transparent;
    text-transform: capitalize;
}